#editorcontainer{display: none;}

#edit, #saveinfo{
  position: fixed;
  right: 20px;
  top: 10px;
  height: 30px;
  width: 80px;
  z-index: 100;
}

#saveinfo{
  width: 170px;
  color: darkgreen;
  display: none;
  text-align: right;
  font-size: larger;
  top: 15px;
}

div.editor-toolbar{
  display: none;
}

div.editor-preview {
    overflow-y: scroll !important;
}

#editor{
  display:none;
}

/* DARK THEME */
body, div.CodeMirror, .editor-preview, .editor-preview-side{
  color: #eeeeee;
  background-color: #202432;
}

.editor-preview pre, .editor-preview-side pre{
  background-color: #101422;
  padding: 5px;
}

div.CodeMirror-cursor{
  border-left: 1px solid #eeeeee;
}

div.editor-preview a, #viewer a{
    color: lightblue;
}
